@model IEnumerable<SmartDoctor.Data.Models.Drug>

@{
    ViewData["Title"] = "Drugs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <style type="text/css">
    /*table.greenTable { background: url("https://cdn2.iconfinder.com/data/icons/nasty/60/drugs_injection-512.png") 98% 86% no-repeat; }*/

        table.greenTable {
            font-family: Georgia, serif;
            border: 6px solid #24943A;
            background-color: #D4EED1;
            width: 100%;
            text-align: center;
        }

            table.greenTable td, table.greenTable th {
                border: 1px solid #24943A;
                padding: 3px 2px;
            }

            table.greenTable tbody td {
                font-size: 13px;
            }

            table.greenTable thead {
                background: #24943A;
                background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
                background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
                background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
                border-bottom: 0px solid #444444;
            }

                table.greenTable thead th {
                    font-size: 19px;
                    font-weight: bold;
                    color: #F0F0F0;
                    text-align: left;
                    border-left: 2px solid #24943A;
                }

                    table.greenTable thead th:first-child {
                        border-left: none;
                    }

            table.greenTable tfoot {
                font-size: 13px;
                font-weight: bold;
                color: #F0F0F0;
                background: #24943A;
                background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
                background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
                background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
                border-top: 1px solid #24943A;
            }

                table.greenTable tfoot td {
                    font-size: 13px;
                }

                table.greenTable tfoot .links {
                    text-align: right;
                }

                    table.greenTable tfoot .links a {
                        display: inline-block;
                        background: #FFFFFF;
                        color: #24943A;
                        padding: 2px 8px;
                        border-radius: 5px;
                    }
    </style>
</head>
<body>
    <h2>Drugs</h2>
    <br />
    <div>
        <input type="text" id="searchInput" onkeyup="onSearch()" placeholder="Enter name...">
        <img width="25" src="~/images/search.png" />
    </div>
    <br />
    <table id="drugTable" class="greenTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Chemical name
                </th>
                <th align="center">
                    Chemical class
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Names[1].Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhaseOfDevelopment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChemicalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChemicalClass)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>


<script type="text/javascript">

    function onSearch() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("drugTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>